* {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
	width: 100%;
	text-align: center;
	background: #4f6868;
}

header {
	text-align: center;
	padding: 15px 0;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	text-align: center;
	display: inline-table;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left;
	text-align: center;
	display: inline;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid cyan;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid cyan;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
	border-right: 1px solid cyan;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid cyan;
	width: 0;
	height: 20px;
}

.tree li a {
	border: 1px solid #ccc;
	padding: 1px 10px;
	text-decoration: none;
	color: black;
	font-size: 24px;
	display: inline-block;
	background-color: cyan;
	cursor: pointer;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li div {
	width: fit-content;
	block-size: fit-content;
	color: black;
	font-size: 18px;
	margin: auto;
}

.tree li div:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover,
.tree li a:hover+ul li a {
	background: #4a92c5;
}

/* Connector styles on hover */
/* .tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #1e7fc5;
} */

.mainSearch {
	text-align: center;
	width: 100%;
	margin: 0 20px;
	
}

/* Style the search field */
form.mainSearch input[type=text] {
	float: left;
	width: 75%;
	padding: 10px;
	background: #f1f1f1;
	font-size: 17px;
	border: 1px solid grey;
	border-radius: 5px 0 0 5px;
	
}

/* Style the submit button */
form.mainSearch button {
	float: left;
	width: 15%;
	padding: 10px;
	background: grey;
	color: black;
	font-size: 17px;
	border: 1px solid grey;
	border-radius: 0 5px 5px 0;
	border-left: none;
	/* Prevent double borders */
	cursor: pointer;
}

form.mainSearch button:hover {
	opacity: 0.7;
}

/* Clear floats */
form.mainSearch::after {
	content: "";
	clear: both;
	display: table;
}

#jazzOverview, #bluesOverview, #randBOverview, #folkOverview, #folkRockOverview, 
#rockabillyOverview, #britInvasionOverview, #soulOverview, #psychedelicOverview, 
#progRockOverview, #experimentalOverview, #southernOverview, #glitterOverview, 
#hardRockOverview, #punkOverview, #grungeOverview, #heavyMetalOverview, #popRockOverview,
#newWaveOverview, #dooWopOverview, #funkOverview, #discoOverview, #rapOverview, #hiphopOverview {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.767);
	color: white;
	margin: auto;
	border-radius: 10px 0 10px 0;
	display: none;
	position: absolute;
	z-index: 1;
}

/* Style all social media icons */

.fa {
	/* padding: 20px; */
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	/* border-radius: 50%; */
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Fa-social */
  .fa-github, .fa-linkedin, .fa-bandcamp, .fa-envelope {
	color: black;
  }

  /* Pop-up */
#popup {
    background: linear-gradient(#4f6868, #decba4, #4f6868);
	color: black;
	/* border: 1px solid grey; */
	border-radius: 5px 20px 5px;
	-webkit-border-radius: 5px 20px 5px;
	-moz-border-radius: 5px 20px 5px;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
	z-index: 3;
	visibility: hidden;
}

/* Like button */
#likeMe {
	padding: 3px;
	margin-bottom: 5px;
	background: linear-gradient(#4f6868, #decba4, #4f6868);
	font-size: larger;
	border: 1px solid grey;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	color: black;
  }